<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <doku_general_config>
            <js_merchant_hosted>
                <development_url>https://staging.doku.com/doku-js/assets/js/doku.uncompress-1.4-SNAPSHOOT.js</development_url>
            </js_merchant_hosted>
        </doku_general_config>
        <doku_merchanthosted_config>
            <mandiri_va_merchanthosted>
                <title>Bank Mandiri VA</title>
                <description>Bank Mandiri VA Configuration</description>
                <payment_code_prefix>88899</payment_code_prefix>
            </mandiri_va_merchanthosted>
            <mandiri_syariah_va_merchanthosted>
                <title>Bank Syariah Indonesia VA</title>
                <description>Bank Syariah Indonesia VA Configuration</description>
                <payment_code_prefix>88899</payment_code_prefix>
            </mandiri_syariah_va_merchanthosted>
            <doku_va_merchanthosted>
                <title>Other Banks (VA by DOKU)</title>
                <description>DOKU VA Configuration</description>
                <payment_code_prefix>88899</payment_code_prefix>
            </doku_va_merchanthosted>
            <bca_va_merchanthosted>
                <title>BCA VA</title>
                <description>BCA VA Configuration</description>
                <payment_code_prefix>88899</payment_code_prefix>
            </bca_va_merchanthosted>
            <permata_va_merchanthosted>
                <title>Bank Permata VA</title>
                <description>Bank Permata VA Configuration</description>
                <payment_code_prefix>88899</payment_code_prefix>
            </permata_va_merchanthosted>
        </doku_merchanthosted_config>
        <payment>
            <mandiri_va_merchanthosted>
                <title>Bank Mandiri VA</title>
                <description>Bayar pesanan dengan transfer dari Bank Mandiri</description>
                <payment_code_prefix>88899</payment_code_prefix>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <disc_amount>0</disc_amount>
                <admin_fee>0</admin_fee>
                <model>Jokul\Magento2\Model\Payment\MandiriVaMerchanthosted</model>
            </mandiri_va_merchanthosted>
            <mandiri_syariah_va_merchanthosted>
                <title>Bank Syariah Indonesia VA</title>
                <description>Bayar pesanan dengan transfer dari Bank Syariah Indonesia</description>
                <payment_code_prefix>88899</payment_code_prefix>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <disc_amount>0</disc_amount>
                <admin_fee>0</admin_fee>
                <model>Jokul\Magento2\Model\Payment\MandiriSyariahVaMerchanthosted</model>
            </mandiri_syariah_va_merchanthosted>
            <doku_va_merchanthosted>
                <title>Other Banks (VA by DOKU)</title>
                <description>Bayar pesanan dengan transfer dari bank lain</description>
                <payment_code_prefix>88899</payment_code_prefix>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <disc_amount>0</disc_amount>
                <admin_fee>0</admin_fee>
                <model>Jokul\Magento2\Model\Payment\DokuVaMerchanthosted</model>
            </doku_va_merchanthosted>
            <bca_va_merchanthosted>
                <title>BCA VA</title>
                <description>Bayar pesanan dengan transfer dari BCA</description>
                <payment_code_prefix>88899</payment_code_prefix>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <disc_amount>0</disc_amount>
                <admin_fee>0</admin_fee>
                <model>Jokul\Magento2\Model\Payment\BcaVaMerchanthosted</model>
            </bca_va_merchanthosted>
            <permata_va_merchanthosted>
                <title>Bank Permata VA</title>
                <description>Bayar pesanan dengan transfer dari Bank Permata</description>
                <payment_code_prefix>88899</payment_code_prefix>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <disc_amount>0</disc_amount>
                <admin_fee>0</admin_fee>
                <model>Jokul\Magento2\Model\Payment\PermataVaMerchanthosted</model>
            </permata_va_merchanthosted>
        </payment>
    </default>
</config>
