<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="doku_general_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Jokul</label>
                <field id="client_id_production" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client ID (Production)</label>
                    <comment>*Required Field</comment>
                </field>
                <field id="client_id_development" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client ID (Sandbox)</label>
                    <comment>*Required Field</comment>
                </field>
                <field id="shared_key_production" translate="label" type="text" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key (Production)</label>
                    <comment>*Required Field</comment>
                </field>
                <field id="shared_key_development" translate="label" type="text" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key (Sandbox)</label>
                    <comment>*Required Field</comment>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="106" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Jokul\Magento2\Model\Config\Source\Environment</source_model>
                </field>
                <field id="expiry" translate="label" type="text" sortOrder="106" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expiry Time</label>
                    <comment>Expiry time in minute for Virtual Account and Convenience Store payment. The default is 60 minutes</comment>
                </field>
                <field id="sender_mail" translate="label" type="text" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender Address</label>
                    <comment>*Required Field</comment>
                </field>
                <field id="sender_name" translate="label" type="text" sortOrder="108" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender Name</label>
                    <comment>*Required Field</comment>
                </field>
                <field id="sender_mail_bcc" translate="label" type="text" sortOrder="109" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BCC Email Address</label>
                </field>
                <field id="notify_url" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification URL</label>
                    <frontend_model>Jokul\Magento2\Block\System\Config\Form\Field\Attribute</frontend_model>
                    <comment>Set this URL to Jokul Back Office</comment>
                </field>
                
                <group id="bca_va_merchanthosted" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BCA VA</label>
                    <field id="active" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/bca_va_merchanthosted/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/bca_va_merchanthosted/title</config_path>
                    </field>
                    <field id="description" translate="label" type="text" sortOrder="217" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <config_path>payment/bca_va_merchanthosted/description</config_path>
                    </field>
                    <field id="disc_amount" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Amount</label>
                        <config_path>payment/bca_va_merchanthosted/disc_amount</config_path>
                    </field>
                    <field id="disc_type" translate="label" type="select" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/bca_va_merchanthosted/disc_type</config_path>
                    </field>
                    <field id="admin_fee" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee</label>
                        <config_path>payment/bca_va_merchanthosted/admin_fee</config_path>
                    </field>
                    <field id="admin_fee_type" translate="label" type="select" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/bca_va_merchanthosted/admin_fee_type</config_path>
                    </field>
                </group>

                <group id="mandiri_va_merchanthosted" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bank Mandiri VA</label>
                    <field id="active" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mandiri_va_merchanthosted/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/mandiri_va_merchanthosted/title</config_path>
                    </field>
                    <field id="description" translate="label" type="text" sortOrder="217" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <config_path>payment/mandiri_va_merchanthosted/description</config_path>
                    </field>
                    <field id="disc_amount" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Amount</label>
                        <config_path>payment/mandiri_va_merchanthosted/disc_amount</config_path>
                    </field>
                    <field id="disc_type" translate="label" type="select" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/mandiri_va_merchanthosted/disc_type</config_path>
                    </field>
                    <field id="admin_fee" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee</label>
                        <config_path>payment/mandiri_va_merchanthosted/admin_fee</config_path>
                    </field>
                    <field id="admin_fee_type" translate="label" type="select" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/mandiri_va_merchanthosted/admin_fee_type</config_path>
                    </field>
                </group>

                <group id="mandiri_syariah_va_merchanthosted" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bank Syariah Indonesia VA</label>
                    <field id="active" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/title</config_path>
                    </field>
                    <field id="description" translate="label" type="text" sortOrder="217" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/description</config_path>
                    </field>
                    <field id="disc_amount" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Amount</label>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/disc_amount</config_path>
                    </field>
                    <field id="disc_type" translate="label" type="select" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/disc_type</config_path>
                    </field>
                    <field id="admin_fee" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee</label>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/admin_fee</config_path>
                    </field>
                    <field id="admin_fee_type" translate="label" type="select" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/mandiri_syariah_va_merchanthosted/admin_fee_type</config_path>
                    </field>
                </group>

                <group id="doku_va_merchanthosted" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Other Banks (VA by DOKU)</label>
                    <field id="active" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/doku_va_merchanthosted/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/doku_va_merchanthosted/title</config_path>
                    </field>
                    <field id="description" translate="label" type="text" sortOrder="217" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <config_path>payment/doku_va_merchanthosted/description</config_path>
                    </field>
                    <field id="disc_amount" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Amount</label>
                        <config_path>payment/doku_va_merchanthosted/disc_amount</config_path>
                    </field>
                    <field id="disc_type" translate="label" type="select" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/doku_va_merchanthosted/disc_type</config_path>
                    </field>
                    <field id="admin_fee" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee</label>
                        <config_path>payment/doku_va_merchanthosted/admin_fee</config_path>
                    </field>
                    <field id="admin_fee_type" translate="label" type="select" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/doku_va_merchanthosted/admin_fee_type</config_path>
                    </field>
                </group>

                <group id="permata_va_merchanthosted" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bank Permata VA</label>
                    <field id="active" translate="label" type="select" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/permata_va_merchanthosted/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/permata_va_merchanthosted/title</config_path>
                    </field>
                    <field id="description" translate="label" type="text" sortOrder="217" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Description</label>
                        <config_path>payment/permata_va_merchanthosted/description</config_path>
                    </field>
                    <field id="disc_amount" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Amount</label>
                        <config_path>payment/permata_va_merchanthosted/disc_amount</config_path>
                    </field>
                    <field id="disc_type" translate="label" type="select" sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discount Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/permata_va_merchanthosted/disc_type</config_path>
                    </field>
                    <field id="admin_fee" translate="label" type="text" sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee</label>
                        <config_path>payment/permata_va_merchanthosted/admin_fee</config_path>
                    </field>
                    <field id="admin_fee_type" translate="label" type="select" sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Admin Fee Type</label>
                        <source_model>Jokul\Magento2\Model\Config\Source\PercentageSelect</source_model>
                        <config_path>payment/permata_va_merchanthosted/admin_fee_type</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
